---
import MobileTableOfContents from 'virtual:starlight/components/MobileTableOfContents';
import TableOfContents from 'virtual:starlight/components/TableOfContents';
import ReferenceSignals from './ReferenceSignals.astro';
const route = Astro.locals.starlightRoute;
---

{
	route.toc && (
		<div class="lg:sl-hidden">
			<MobileTableOfContents />
		</div>
	)
}

<div class="right-sidebar-panel sl-hidden lg:sl-block">
	<div class="right-sidebar-panel__inner">
		{route.toc && <TableOfContents />}
		<ReferenceSignals />
	</div>
</div>
